{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}
    <table class="table tablestriped">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-start">Name</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">TOTAL</th>
            </tr>
        </thead>
    <tbody>
        {% for data in datas %}
            <tr>
                <td class="text-start">{{ data.symbol }}</td>
                <td class="text-start">{{ data.name }}</td>
                <td class="text-end">{{ data.sum_of_shares }}</td>
                <td class="text-end">{{ data.price | usd }}</td>
                <td class="text-end">{{ data.total | usd }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="4">Cash</td>
                <td class="border-0 text-end">{{ user_cash | usd }}</td>
            </tr>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="4">TOTAL</td>
                <td class="border-0 w-bold text-end">{{ grand_total | usd }}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
